body {
    margin-top: 10px;
    padding: 0;
    background: #031321;
}

#mapid { 
    display: flex;
    height: 400px; 
    color: white;
    margin: 40px;
    padding: 0;
    font-family: 'IM Fell French Canon', serif;
}

#response {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
} 

#response2 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    font-family: 'IM Fell French Canon', serif;
} 

#response3 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    font-family: 'IM Fell French Canon', serif;
} 

#response4 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
} 

#response5 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
} 

#response6 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
} 

#response7 {
    position: relative;
    left: 10px;
    font-size: large;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
} 


.searchInfoCount {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoContCap {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoPop {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoCurr {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoWeath {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoTemp {
    bottom: 30px;
    position: relative;
    left: 100px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 

.searchInfoSum {
    position: relative;
    bottom: 25px;
    left: 480px;
    font-size: large;
    color: white;
    font-family: 'IM Fell French Canon', serif;
} 





::-webkit-scrollbar {
    width: 10px;
}

.search{
    position: flex;
    border-width:0px;
    border:none;
    margin: 0;
    padding: 0;
    color: #2196f3;
    background: #031321;
	text-align: center; 
    font-family: 'IM Fell French Canon', serif;
}

#submit {
    display: flex;
	justify-content: center;
	align-items: center;
    border-width:0px;
    border:none;
    margin: auto;
    padding: 0;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
}

.footer {
    margin: 0;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2196f3;
    background: #031321;
    font-family: 'IM Fell French Canon', serif;
}